
*.dll
*.exe
*.json
*.pdb
*.v2
*.v1
RandomItemList/.vs/RandomItemList/v17/.suo
RandomItemList/RandomItemList/obj/Debug/net6.0-windows/App.g.cs
RandomItemList/RandomItemList/obj/Debug/net6.0-windows/App.g.i.cs
RandomItemList/RandomItemList/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
RandomItemList/RandomItemList/obj/Debug/net6.0-windows/MainWindow.baml
RandomItemList/RandomItemList/obj/Debug/net6.0-windows/MainWindow.g.i.cs
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList_MarkupCompile.lref
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList_MarkupCompile.i.cache
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList_MarkupCompile.cache
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList_iul1dac5_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList_iul1dac5_wpftmp.assets.cache
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList_iul1dac5_wpftmp.AssemblyInfoInputs.cache
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList_iul1dac5_wpftmp.AssemblyInfo.cs
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList.genruntimeconfig.cache
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList.GeneratedMSBuildEditorConfig.editorconfig
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList.g.resources
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList.csproj.FileListAbsolute.txt
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList.csproj.CoreCompileInputs.cache
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList.csproj.AssemblyReference.cache
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList.assets.cache
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList.AssemblyInfoInputs.cache
RandomItemList/RandomItemList/obj/Release/net6.0-windows/RandomItemList.AssemblyInfo.cs
RandomItemList/RandomItemList/obj/Release/net6.0-windows/MainWindow.g.i.cs
RandomItemList/RandomItemList/obj/Release/net6.0-windows/MainWindow.g.cs
RandomItemList/RandomItemList/obj/Release/net6.0-windows/MainWindow.baml
RandomItemList/RandomItemList/obj/Release/net6.0-windows/App.g.i.cs
RandomItemList/RandomItemList/obj/Release/net6.0-windows/App.g.cs
RandomItemList/RandomItemList/obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
RandomItemList/RandomItemList/obj/RandomItemList.csproj.nuget.g.targets
RandomItemList/RandomItemList/obj/RandomItemList.csproj.nuget.g.props
RandomItemList/RandomItemList/obj/project.nuget.cache
RandomItemList/RandomItemList/obj/Debug/net6.0-windows/RandomItemList_ngt2mzpa_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
RandomItemList/RandomItemList/obj/Debug/net6.0-windows/RandomItemList_ngt2mzpa_wpftmp.csproj.BuildWithSkipAnalyzers
